<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="New Post Form">
    <title>Add new post</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/side-menu.css" th:href="@{/css/side-menu.css}"/>


    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="../static/css/side-menu-old-ie.css">
    <!--[endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/css/side-menu.css">
    <!--<![endif]-->
</head>
<body>

<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" th:fragment="site-navigation">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">CatalinM</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">Blog</a></li>
                <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <!--content goes here-->
    <div id="main">

        <div class="header">
            <h1>Add new post</h1>
        </div>

        <div class="content">

            <div>

                <form action="#" th:action="@{/posts/saves}"
                      th:object="${post}"
                      method="POST"
                      class="pure-form pure-form-aligned">

                    <!--the hidden field is used to ensure that an UPDATE is being done, otherwise,
                    when clicking 'Edit' the object is called from the database and when clicking save
                    the post gets added as if it was a new post and not EDITED!!!-->

                    <input type="hidden" th:field="*{id}"/>    <!--this binds to the model attribute and tells spring what post
                                                        to update!-->

                    <fieldset>

                        <div class="pure-control-group">
                            <label>Title</label>
                            <input placeholder="Title" type="text" th:field="*{title}">
                        </div>

                        <div class="pure-control-group">
                            <label>Subtitle</label>
                            <input placeholder="Subtitle" type="text" th:field="*{subtitle}">
                        </div>

                        <div class="pure-control-group">
                            <label>Author</label>
                            <input placeholder="Author" type="text" th:field="*{author}">
                        </div>

                        <div class="pure-control-group">
                            <label>Date</label>
                            <input placeholder="Date" type="datetime-local" th:field="*{date}">
                        </div>

                        <div class="pure-control-group">
                            <label>Excerpt</label>
                            <textarea placeholder="Content" rows="5" class="pure-input-1-2" th:field="*{excerpt}"></textarea>
                            <!--<input placeholder="Excerpt" type="text" th:field="*{excerpt}">-->
                        </div>

                        <div class="pure-control-group">
                            <label>Content</label>
                            <textarea placeholder="Content" rows="15" class="pure-input-1-2" th:field="*{content}"></textarea>
                        </div>

                        <div class="pure-control-group">
                            <label>Category</label>
                            <input placeholder="Category" type="text" th:field="*{category}">
                        </div>

                        <button type="submit" class="pure-button pure-button-primary">Submit Post</button>

                    </fieldset>



                </form>

            </div>

        </div>
    </div>
</div>

<script src="../js/ui.js" th:href="@{../js/ui.js}"></script>
</body>
</html>