<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Semi-coherent Ramblings I Was Telling You About">
    <title>Blog</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/side-menu.css" th:href="@{/css/side-menu.css}"/>


    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="../static/css/side-menu-old-ie.css">
    <!--[endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/css/side-menu.css">
    <!--<![endif]-->
</head>
<body>


<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" th:fragment="site-navigation">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">CatalinM</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">Blog</a></li>
                <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <!--content goes here-->
    <div id="main">

        <div class="header">
            <h1>Personal Blog</h1>
            <h2>A collection of things I learned or found interesting</h2>
        </div>

        <div class="content">
        <!--button to add a new post-->
            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <!-- The add new post button visible only to logged in user with correct role -->
                    <div sec:authorize="hasRole('GOD')">
                        <a th:href="@{posts/newPost}"
                           class="pure-button pure-button-primary">
                            Add Post
                        </a>
                    </div>

                    <!-- A wrapper for all the blog posts -->
                    <div class="posts" th:each="post:${posts}">

                        <section class="post">
                            <header class="post-header">

                                <h2 class="post-title" th:text="${post.title}"></h2>

                                <p class="post-meta">
                                    By <a href="#" class="post-author" th:text="${post.author}" /> in
                                    <a class="post-category post-category-pure" th:text="${post.category}"/>
                                    on <span th:text="${post.date}"/>
                                </p>
                            </header>

                            <!-- the description is the excerpt from my point of view. Read more will be mapped to full content -->
                            <div class="post-description">
                                <p th:utext="${post.excerpt}"></p><a class="pure-button" th:href="@{posts/readPost(postId=${post.id})}">Read More</a>

                                <!-- section contains the edit and delete buttons which are visible only to users with right access -->
                                <div sec:authorize="hasRole('GOD')">
                                    <a th:href="@{posts/editPost(postId=${post.id})}"
                                       class="button-warning pure-button">Edit</a>

                                    <a th:href="@{posts/deletePost(postId=${post.id})}"
                                       class="button-error pure-button"
                                       onclick="return confirm('Are you sure?')">Delete</a>
                                </div>

                            </div>
                        </section>
                        <br>

                    </div>
                </div>
            </div>

            <!-- this "works" so far, but the plan is to replace this with First, next, prev, Last eventually! -->
            <span th:if="${posts.totalPages > 0}" class="pagination pure-button"
                 th:each="pageNumber : ${pageNumbers}">
                <a class="pure-button" th:href="@{/posts(size=${posts.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==posts.number + 1} ? active"></a>
            </span>

        </div>
    </div>
</div>

<script src="js/ui.js" th:href="@{/js/ui.js}"></script>

</body>
</html>