<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Catalin's Personal Page - Thoughts, Ideas and Semi-coherent Ramblings">
    <title>About</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/side-menu.css" th:href="@{/css/side-menu.css}"/>


    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="../static/css/side-menu-old-ie.css">
    <!--[endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/css/side-menu.css">
    <!--<![endif]-->
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" th:fragment="site-navigation">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">CatalinM</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">Blog</a></li>
                <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>About Me</h1>
            <h2>And what makes me tick</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">What am I doing here</h2>
            <p>
                I've been interested in technology my whole life. Ever since I bought my first PC, a Compaq running a
                Pentium at 166Mhz with 32 MB of RAM and a massive 800 MB HDD, I knew I found what I enjoy doing most.<br><br>
                I spent my early years playing computer games, starting off with Starcraft and Diablo and moving on to
                more competitive things like CS 1.6 and Defense of the Ancients. <br><br>
                As life does have it, I never had enough time to pursue that as much as I wanted and I started one of my
                first jobs writing hardware and software reviews for various small websites. All of this was spurred on
                after having had 3 short stories published in Level Gaming Magazine in Romania. <br><br>
            </p>

            <h2 class="content-subhead">Canada</h2>
            <p>
            <div class="pure-g"><img class="pure-img"
                                     src="https://res.cloudinary.com/dmx1lie0i/image/upload/v1575317846/Blog/IMG_1939_wqvzjv.jpg"
                                     alt="Grizzly Peak, Kananaskis County, Alberta Canada"></div><br><br>
                After a brief time doing that, I had the opportunity to go to Canada, which got me the chance to work
                at one of the best computer stores in the country - Memory Express Computer Products in Calgary. I loved
                the time there, I loved the people I worked with and most of all, I loved the computer hardware I had the
                chance to play with every day! Some of my fondest memories are from this time, as I had to amazing opportunity
                to build so many "first" systems. <br><br>
            </p>

            <h2 class="content-subhead">UK And University</h2>
            <p>
                But all good things must come to an end and as life has it, I moved to Edinburgh, UK. This gave me the chance
                to start studying and begin working towards my BSc in Computing with Goldsmiths University. The courses here
                were amazing so far and there's plenty left for me to do! I completed courses in Java, Software Development,
                Software Engineering, Databases, Introduction to Computing and the Internet, Advanced Graphics and Animation,
                Algorithm Design and Analysis, Creative Computing - Interactive Multimedia and Image, Sound and Motion,
                andddd many more!<br><br>
                In my last year I am studying Natural Language Processing, Artificial Intelligence, Neural Networks and
                Sound and Music. <br><br>
                Pfew, that was a long list! All this time though I also worked, I worked in a retail phone store, I worked
                at a pensions and savings company and I worked as a fraud and payments analyst (it is as interesting as it sounds!).<br><br>
                However, all of that has led me to my current role as an Analyst Developer with the Scottish Parliament.
                This role is an amazing opportunity and although it is still early days, I love it! The people are friendly,
                there are tons to learn and it finally gives me the chance to actually do what I enjoy! What else can I say :)

            </p>


        </div>
    </div>
</div>

<script src="js/ui.js" th:href="@{/js/ui.js}"></script>

</body>
</html>