<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Catalin's Personal Page - Thoughts, Ideas and Semi-coherent Ramblings">
    <title>Contact</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/side-menu.css" th:href="@{/css/side-menu.css}"/>


    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="../static/css/side-menu-old-ie.css">
    <!--[endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/css/side-menu.css">
    <!--<![endif]-->
</head>


<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" th:fragment="site-navigation">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">CatalinM</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">Blog</a></li>
                <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Contact</h1>
            <h2>How to get in touch</h2>
        </div>

        <div class="content">


            <h2 class="content-subhead">Where you can find me</h2>
            <p>
                The best place to message me is my LinkedIn page <a href="https://www.linkedin.com/in/catalinmengheris/">here</a>.<br><br>
                It is also the place where you can have a look at my recent experience and any official training I've gone through :) <br><br>
                You can also check my Github page <a href="https://github.com/Catalin-M">here</a> which will be featuring hopefully things that are becoming increasingly
                more complex and interesting as well! In the meantime I will try to keep it as a page that holds all my
                personal projects, my learning progress and just general stuff I learned/played around with.
            </p>


        </div>
    </div>
</div>

<script src="js/ui.js" th:href="@{/js/ui.js}"></script>

</body>
</html>