<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Catalin's Personal Page - Thoughts, Ideas and Semi-coherent Ramblings">
    <title>CatalinM</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/side-menu.css" th:href="@{/css/side-menu.css}"/>


    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="../static/css/side-menu-old-ie.css">
    <!--[endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/css/side-menu.css">
    <!--<![endif]-->
</head>


<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu" th:fragment="site-navigation">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">CatalinM</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">Blog</a></li>
                <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Welcome to my page</h1>
            <h2>Cata's personal blog</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">What's the point of this page</h2>
            <p>
                Welcome to my page. My name is Catalin and I set up this website first of all as an exercise to use
                Spring Boot, Spring Data JPA and Spring Security. I wanted to build something from scratch and this
                was in my view one of the best places to start. <br><br>
                Having studied Java at my university courses with Goldsmiths, I found that going down the path of
                learning Spring, would be a solid foundation, not only from a learning point of view, but also in
                terms of employment opportunities further down the line. <br><br>
                From setting up my development environment, from creating the database tables, connecting everything
                and all the way up to deploying the application here to Heroku, I had the opportunity to learn a lot!<br><br>
                My next step is to start using this page as a place to gather some things I learn either in my courses,
                at work or in my personal project work. As this is my last year in university (2019-2020), I need to
                complete a larger project for school. <br><br>
                Because I wanted to do something that mixes a bit of art with computer science, I thought that Spring
                will also be a solid foundation to build a backend that does some heavy lifting and presenting data
                to a front end :) <br><br>
                So to wrap up, that's why this page is here! If you want to know more about me, visit the
                <a href="/about">About</a> page!
            </p>

        </div>
    </div>
</div>

<script src="js/ui.js" th:href="@{/js/ui.js}"></script>

</body>
</html>